# external
.password-store
.ssh
.asdf
tmp
work

# working files
.bash_history
.bash_sessions
.viminfo
.vscode
.python_history
.local
.cache
.npm
.docker
.tilt-dev
.config
.kube
.lesshst
.cups
.k3d
.fly
.irssi
.localized
.*.key
.zsh_history
.zsh_sessions
.earthly

# macos
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/
.CFUserTextEncoding
.DS_Store
.wget-hsts
.loft
.kuma
.kumactl
.rd
.kuberlr
.terraform*
