# external
.password-store
.ssh
.asdf
tmp
work

# working files
.bash_history
.viminfo
.vscode
.python_history
.local
.cache
.npm
.docker
.tilt-dev

# macos
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/
.DS_Store
