# external
.password-store
.ssh
.asdf
tmp
work

# working files
.bash_history
.bash_sessions
.viminfo
.vscode
.python_history
.local
.cache
.npm
.docker
.tilt-dev
.config
.kube
.lesshst
.cups
.k3d
.fly

# macos
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/
.DS_Store
.irssi
